<h1 id="note">Note:</h1>
<ul>
<li>This document is written using Git Flavored Markdown (GFM).<br /></li>
<li><a href="https://guides.github.com/features/mastering-markdown/">https://guides.github.com/features/mastering-markdown/</a><br /></li>
<li><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet</a></li>
</ul>
<h1 id="find-all-git-repositories">Find all git repositories:</h1>
<p><code>find . -type d -name &quot;\.git&quot; | sort</code></p>
<p>Example:</p>
<pre><code>[kostaz@plex] [~/My/MRV/NG/Dev/git/MRV/2016_07_28]

ls -ls
total 12
4 drwxrwxr-x  6 kostaz kostaz 4096 Jul 28 11:54 build_env_bc2
4 drwxrwxr-x 13 kostaz kostaz 4096 Jul 28 11:54 distribution
4 drwxrwxr-x 15 kostaz kostaz 4096 Jul 28 12:10 os-v</code></pre>
<pre><code>[kostaz@plex] [~/My/MRV/NG/Dev/git/MRV/2016_07_28]

find . -type d -name &quot;\.git&quot; | sort
./build_env_bc2/dist/build-gcc-4.6.4-glibc-2.15-cpu-_msys/.git
./build_env_bc2/dist/build-gcc-4.6.4-glibc-2.15-cpu-_msys/linux-3.4.69/.git
./build_env_bc2/dist/build-gcc-4.6.4-glibc-2.15-cpu-_msys/u-boot-2013.01-msys-v13.git/.git
./build_env_bc2/install/.git
./build_env_bc2/scripts/.git
./distribution/.git
./os-v/.git

[kostaz@plex] [~/My/MRV/NG/Dev/git/MRV/2016_07_28]</code></pre>
<hr />
<h1 id="topics">Topics</h1>
<ul>
<li><p>What happens on git clone?</p></li>
<li><p>Use CTRL-R to search bash command history</p></li>
<li><p>Use super short find to find files: <code>f</code><br /> <code>$ f stapi    $ sf stapi</code></p>
<ul>
<li>Implemented in <code>~/.bashrc</code> file as function<br /></li>
<li><a href="https://github.com/kostaz/env/blob/master/.bashrc#L193">https://github.com/kostaz/env/blob/master/.bashrc#L193</a><br /></li>
<li>Thanks to Alex Rozin! :-)<br /></li>
<li>Find function:<br /> <code>function f()    {    term=$@    find . -iname &quot;*${term}*&quot;    }</code><br /></li>
<li>Strict find function:<br /> <code>function sf()    {    term=$@    find . -name &quot;${term}&quot;    }</code></li>
</ul></li>
<li><p>Use git aliases in ~/.bashrc</p>
<ul>
<li><a href="https://github.com/kostaz/env/blob/master/.bashrc#L171">https://github.com/kostaz/env/blob/master/.bashrc#L171</a><br /></li>
<li>alias gg='git grep -in --untracked '<br /></li>
<li>alias sgg='git grep -n --untracked '<br /></li>
<li>alias gs='git status'<br /></li>
<li>alias gdc='git diff --cached --ignore-all-space '<br /></li>
<li>alias gdcI='git diff --cached '<br /></li>
<li>alias gd='git diff --ignore-all-space '<br /></li>
<li>alias gdI='git diff '<br /></li>
<li>alias gdt='git difftool '<br /></li>
<li>alias ga='git add '<br /></li>
<li>alias gb='git branch'</li>
</ul></li>
<li><p>Use <code>git status</code> almost after every git command (<code>gs</code>)</p></li>
<li><p>Use git log with <code>--max-count</code><br /> <code>git log --oneline --decorate --max-count=30</code></p></li>
<li><p>git blame<br /> <code>$ git blame -- ./pss/pss/SW/prestera/mainDrv/src/prestera/sTapi/sTapi_if.c</code></p></li>
<li><p>Track file history with <code>git log -p</code><br /> <code>git log -p ./pss/pss/SW/prestera/mainDrv/src/prestera/sTapi/sTapi_if.c    git log --full-diff -p ./pss/pss/SW/prestera/mainDrv/src/prestera/sTapi/sTapi_if.c</code></p></li>
<li><p>Reviewing last commit<br /> <code>git show --name-status    git diff HEAD~1..HEAD    git diff HEAD~1..HEAD -- filename    git difftool HEAD~1..HEAD    git difftool HEAD~1..HEAD -- filename    git difftool HEAD~1..HEAD -- pss/pss/SW/prestera/mainAppDemo/src/appDemo/boardConfig/gtMRVDxBobk.c    git difftool --tool=meld HEAD~1..HEAD -- pss/pss/SW/prestera/mainAppDemo/src/appDemo/boardConfig/gtMRVDxBobk.c</code></p></li>
<li><p>How many branches are there?<br /> <code>git branch --all    git branch -a    gb -a</code></p></li>
<li>Removing local copies of unneeded remote branches<br /> <code>git branch -r -d origin/feature/modular_aleksey    gb -r -d origin/feature/modular_aleksey</code><br /></li>
<li><p>Note: <code>git fetch</code> creates remote-tracking branches anew.</p></li>
<li><p>Deleting remote branch (on git server)<br /> <code>git push origin --delete branch_name</code></p></li>
<li><p>Remove all unneeded files from local<br /> <code>git ls-files --exclude-standard --others    git ls-files --exclude-standard --others | xargs rm -rf</code></p></li>
<li><p>Viewing all commits in all branches<br /> <code>git log --oneline --decorate --graph --branches --all --first-parent</code></p></li>
<li><p>Pick and apply any commit from any branch<br /> <code>git cherry-pick</code></p></li>
<li><p>Flow of <code>git am</code> after <code>git format-patch</code><br /> <code>git am my.patch    git apply --reject my.patch    git add filename1 filename2 ...    git am --continue</code></p></li>
<li><p>Compare file between different branches<br /> <code>git diff filename branch1:branch2</code></p></li>
<li><p>Cancelling some commit<br /> <code>git revert</code></p></li>
<li><p>git am for a lot of patches (git format-patch -100)<br /> <code>git format-patch -6 --start-number 27 --output-directory=../for_kernel_git/patches/</code></p></li>
<li><p>TBD: Rename branch</p></li>
<li><p>TBD: git am -p1 --directory=...</p></li>
<li><p>TBD: Clean the files from .gitignore.<br /> <code>git clean -X -f</code></p></li>
<li><p>TBD: git tag, git push --tags</p></li>
<li><p>TBD: Delete local tag<br /> <code>git tag -d &lt;tag-name&gt;</code></p></li>
<li><p>TBD: What changed since two weeks?<br /> <code>git log --no-merges --raw --since='2 weeks ago'    git whatchanged --since='2 weeks ago'</code></p></li>
<li><p>TBD: Show all tracked files<br /> <code>git ls-files -t</code></p></li>
<li><p>TBD: Before deleting untracked files/directory,<br /> do a dry run to get the list of these files/directories<br /> <code>git clean -n</code></p></li>
<li><p>TBD: Forcefully remove untracked files<br /> <code>git clean -f</code></p></li>
<li><p>TBD: Forcefully remove untracked directory<br /> <code>git clean -f -d</code></p></li>
<li><p>TBD: Alternatives:<br /> <code>git clean -df</code></p></li>
<li><p>TBD: Dry run. (any command that supports dry-run flag should do.)<br /> <code>git clean -fd --dry-run</code></p></li>
<li><p>TBD: Show all untracked files<br /> <code>git ls-files --others</code></p></li>
<li><p>TBD: Show all ignored files<br /> <code>git ls-files --others -i --exclude-standard</code></p></li>
<li><p>TBD: Delete remote tag<br /> <code>git push origin :refs/tags/&lt;tag-name&gt;</code></p></li>
<li><p>TBD: git grep in all changes from last month</p></li>
<li><p>TBD: git commit message template</p></li>
<li><p>TBD: git log by time and author</p></li>
<li><p>TBD: git reflog</p></li>
<li><p>TBD: git bisect</p></li>
<li><p>TBD: git rebase</p></li>
<li><p>TBD: git rebase --interactive</p></li>
<li><p>TBD: Group commits by authors and title<br /> <code>git shortlog</code></p></li>
<li><p>TBD: git merge</p></li>
<li><p>TBD: git lfs</p></li>
<li><p>TBD: git hooks</p></li>
<li><p>TBD: .gitconfig</p></li>
<li><p>TBD: <code>HEAD</code>, <code>FETCH_HEAD</code>, <code>ORIG_HEAD</code>, <code>MERGE_HEAD</code>, <code>CHERRY_PICK_HEAD</code></p></li>
<li><p>TBD: git-send-email</p></li>
<li><p>TBD: CPSS upgrade</p></li>
</ul>
<p>Our SW relies on SW libraries from other SW companies, for example:<br /> CPSS, BCM SDK, OpenClovis, MetaSwitch, etc.</p>
<ul>
<li><p>TBD: Git ignore <code>.gitignore</code></p></li>
<li><p>TBD: TASK-UPDATE<br /> Update local GIT from remote GIT in case of part of files are locally (in work space) updated.</p></li>
<li><p>TBD: TASK-UPDATE<br /> Update local GIT from remote GIT in case of part of files are locally (in work space) updated, and remove all locally updated file.</p></li>
<li><p>TBD: TASK-PUSH-EXT<br /> Make “push” from local GIT to remote GIT in case of part of files are updated in remote GIT.</p></li>
<li><p>TBD: TASK-DIFF<br /> Make “diff” between local GIT and remote GIT in case of part of files are updated in local and in remote GIT.</p></li>
<li><p>TBD: TASK-MERGE<br /> To work in the same time on some (2 or 3) different problems in local work-space<br /> (the same remote branch) and make separate commits into remote GIT.</p></li>
<li><p>TBD: TASK-MERGE<br /> To work in the same time on some (2 or 3) different problems in local work-space<br /> (the same remote branch) and make ONE commit into remote GIT for all fixes together.</p></li>
<li><p>TBD: TASK-MERGE<br /> To move some commits from one branch to other branch and commit into remote GIT.</p></li>
<li><p>TBD: TASK-DISCARD (CANCEL)<br /> To cancel some commits from local GIT (last or not-last).</p></li>
<li><p>TBD: git repo tool</p></li>
<li><p>TBD: git wtf</p></li>
</ul>
